# Terraform
.terraform/
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
override.tf
override.tf.json
*.tfvars
*.tfvars.json
.terraform.lock.hcl
.aws/
*.pem
*.ppk
__pycache__/
*.pyc
.env
.DS_Store
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env*
.venv/
__pycache__/
*.pyc
.env
.env*
